/* app/globals.css */
@import "tailwindcss";

@theme {
  /* Fundo e Sidebar */
  --color-admin-bg: #f1f5f9;      /* Azul acinzentado muito claro para o fundo */
  --color-admin-sidebar: #ffffff; /* Branco puro para o menu */
  
  /* Identidade Visual */
  --color-admin-accent: #2563eb;  /* Azul Royal focado */
  --color-admin-text: #1e293b;    /* Texto escuro legível */
  
  /* Status */
  --color-admin-success: #10b981; /* Verde (Criar/Sucesso) */
  --color-admin-danger: #ef4444;  /* Vermelho (Deletar/Erro) */
}

/* Forçamos o fundo claro para o Admin não ficar preto */
body {
  background-color: #f1f5f9; /* Mesma cor do admin-bg */
  color: #1e293b;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Ajuste para que links não tenham sublinhado padrão */
a {
  text-decoration: none;
}